{% extends 'base.html.twig' %}

{% block title %}Edit Picture
{% endblock %}

{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
        a {
            text-decoration: none;
        }
	</style>

</div>
	<div class="example-wrapper">
	{{ form_start(formEdit) }}
		{{ form_rest(formEdit) }}
		<br>
		<button class="btn btn-outline-primary">Valider</button>
	{{ form_end(formEdit) }}

	</div>
{% endblock %}
