{% extends 'base.html.twig' %}

{% block title %}Gestionnaire de photo
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/deleteModal.js') }}" defer></script>
{% endblock %}

{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		a {
			text-decoration: none;
		}
	</style>

	<div class="example-wrapper">
		<h1>Liste d'images</h1>
		<a href="{{ path('account_new_picture') }}" class="btn btn-outline-primary">Ajouter une photo</a>
		<hr>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="table-dark">
					<th>#</th>
					<th>Apperçu</th>
					<th>Créer le..</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for picture in pictures %}

					<tr>
						<td>{{ picture.id }}</td>
						<td><img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('mini') }}" alt="{{ picture.image }}"></td>
						<td>{{ picture.createdAt|date('d.m.Y') }}</td>
						<td>
							<a href="{{ path('account_edit_picture', { 'id': picture.id }) }}" class="btn btn-outline-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                    </a>
                    <button type="button" data-id="{{ picture.id }}" data-href="{{ path('account_delete_picture', { 'id': picture.id }) }}" }}" class="btn btn-outline-danger confirm-delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                        </svg>
                    </button>

						</td>
					</tr>
				{% else %}
					<td class="py-5 text-center text-muted" colspan="4">Aucune photo pour le moment..</td>
				{% endfor %}
			</tbody>
		</table>
		{{ knp_pagination_render(pictures) }}
		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Êtes vous sur de vouloir supprimer cette photo?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
						<a href="" class="btn btn-danger">Oui, je confirme</a>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
