{% extends 'base.html.twig' %}

{% block title %}Add Picture
{% endblock %}

{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
        a {
            text-decoration: none;
        }
	</style>

{# Affiche les erreurs d'un formulaire grâce à la méthode getErrors()
    <div class="alert alert-danger">
        {% for error in errors %}
            <p>{{ error.message }}</p>
        {% endfor %}
    </div> #}


</div>
	<div class="example-wrapper">
	{{ form_start(formUpload) }}
		{{ form_row(formUpload.imageFile) }}
		{{ form_row(formUpload.description) }}
		{{ form_row(formUpload.tags) }}
		{{ form_row(formUpload.category) }}
		<br>
		<button class="btn btn-outline-primary">Envoyer</button>
	{{ form_end(formUpload, { 'render_rest': false }) }}

	</div>
{% endblock %}
