{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<h1>Home</h1>
	<ul class="nav justify-content-center py-4">
		{% for category in categories %}
			<li class="nav-item">
				<a class="nav-link" href="{{ path('pictures_by_category', { id: category.id }) }}">{{ category.name  }}</a>
			</li>
		{% endfor %}
	</ul>
	<div class="justify-content-center py-4">
		<div class="row">
			{% for picture in pictures %}
				<div class="col-4">
					<a href="{{ path('show_picture', { id: picture.id }) }}">
						<img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}">
					</a>
				</div>
			{% endfor %}
			{{ knp_pagination_render(pictures) }}
		</div>
	</div>
{% endblock %}