{% extends 'base.html.twig' %}

{% block title %}
	Images de la catégorie:
	{{ category.name  }}
{% endblock %}

{% block body %}

	<h1>Catégorie "{{ category.name  }}"</h1>

	<div class="row">
		{% for picture in pictures %}
			<div class="col-3 mb-4">
				<a href="{{ path('show_picture', { id: picture.id }) }}">
					<img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}" class="rounded img-fluid">
				</a>
			</div>
		{% endfor %}
		{{ knp_pagination_render(pictures) }}
	</div>

{% endblock %}
