{% extends 'base.html.twig' %}

{% block title %}
	Apperçu de la photo
{% endblock %}

{% block body %}

	<h1>Apperçu de la photo</h1>

	<div class="py-4">
		<a href="{{ path('home') }}">Retour à la page d'Accueil</a>
	</div>

	<a href="{{ asset('uploads/images/photos/'~ picture.image) }}">
		<img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('medium') }}" alt="{{ picture.image }}" class="rounded img-fluid">
	</a>
	<p class="pt-3">{{ picture.description }}</p>
	<p class="text-muted">{{ picture.tags }}</p>
	<p>Photographié le {{ picture.createdAt|date }}</p>
	<div class="row">
		{% for photo in photos %}
			{% if photo.image is not same as(picture.image) %}
				<div class="col-3 mb-4">
					<a href="{{ path('show_picture', { id: photo.id }) }}">
						<img src="{{ asset('uploads/images/photos/'~ photo.image)|imagine_filter('thumbnail') }}" alt="{{ photo.image }}" class="rounded img-fluid">
					</a>
				</div>
			{% endif %}
		{% endfor %}
		{{ knp_pagination_render(photos) }}

	</div>

{% endblock %}
