{% extends 'base.html.twig' %}

{% block title %}Edit Picture
{% endblock %}

{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		a {
			text-decoration: none;
		}
	</style>


	<div class="example-wrapper">	
	<h2>Editer</h2>

		{{ form_start(formEditPicture) }}
		{{ form_rest(formEditPicture) }}
		<br>
		<button class="btn btn-primary">Enregistrer
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewbox="0 0 16 16">
				<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
			</svg>
		</button>
		{{ form_end(formEditPicture) }}
	</div>

{% endblock %}
